In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("studs.csv")

In [3]:
df.head()

,student_id,hours_studied,sleep_hours,attendance_percent,Internal_marks,exam_score
0,S001,8.0,8.8,72.1,45,30.2
1,S002,1.3,8.6,60.7,55,25.0
2,S003,4.0,8.2,73.7,86,35.8
3,S004,3.5,4.8,95.1,66,34.0
4,S005,9.1,6.4,89.8,71,40.3

In [4]:
x = df["hours_studied"]
y = df["exam_score"]

In [5]:
n = len(x)

In [7]:
x_mean = x.mean()
y_mean = y.mean()

In [9]:
num = np.sum((x-x_mean) * (y-y_mean))
den = np.sum((x-x_mean)**2)
b1 = num/den
b0 = y_mean -b1*x_mean

In [10]:
y_pred = b0+b1*x

In [11]:
print(y_pred)

0      36.691317
1      25.742781
2      30.154877
3      29.337822
4      38.488838
         ...
195    40.776592
196    35.220618
197    26.233014
198    43.227757
199    40.286359
Name: hours_studied, Length: 200, dtype: float64

In [12]:
mse = np.sum((y-y_pred)**2)

In [13]:
mse

np.float64(3638.732916669873)

In [14]:
ss_tot = np.sum((y-y_mean)**2)
ss_res = np.sum((y-y_pred)**2)
r2 = 1-ss_res/ss_tot

In [15]:
r2

np.float64(0.6033427917418746)

In [16]:
b0

np.float64(23.618437852039314)

In [17]:
b1

np.float64(1.6341098961284772)